
a {

	text-decoration: none;
	color: #000;
}

a:hover {
	color: #ccc;
}

body {
	margin:0;
	padding:0;
    background: url('../images/bg-body.gif') top left repeat-y #ededed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#555;
	line-height: 20px;
}


#content {

	width:100%;
	height: 100%;
	

}

#sadrzaj {
	left: 255px;
	width: 79%;
	position: absolute;
}

#wrapper {

	margin-top:50px;
}

.icon {

	width:100px;
	float:left;
	background: #ededed;
	margin:50px 0 0 30px;
	width:150px;
	height:90px;
	border-radius: 8px;
	box-shadow: 0px 0px 1px #888888;
	padding-top: 5px;
	position:relative;
	border: 1px solid #ccc;
}


input[type=submit]{
	border: none;
	width: auto;
	height: 23px;
	font-size: 12px;
	border-radius: 3px;
	background: #3E7000;
	float: left;
	clear: both;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 240px;
}



.button {

	width:100px;

}

.add_icon {
	
	
	text-align:center;
	margin-top: 65px;
	

}

#firm_img {
	
	background: url(../images/admin.png) 0px -2px no-repeat;
    width: 65px;
	height: 60px;
	position: absolute;
	margin-left: 38px;
	
}

#prom_img {
	
	background: url(../images/admin.png) -77px -8px no-repeat;
    width:77px;
	height:53px;
	position: absolute;
	margin-left: 38px;
	
}

#news_img {
	
	background: url(../images/admin.png) -172px -8px no-repeat;
    width:77px;
	height:53px;
	position: absolute;
	margin-left: 38px;
	
}

#sidebar {
	
	width: 230px;
	background: url('../images/bg-sidebar.gif') no-repeat;
	height: 100%;
	float:left;
	position:absolute;
	color: #888;
}

#logo {
	background: url('../images/powered_by.png') no-repeat;
	width: 180px;
	height: 63px;
	position: absolute;
	left: 25px;
	top: 10px;
}

#profile_data {
	margin-top: 100px;
	margin-left: 50px;
	color: #fff;
}

#profile_data a {
	color: #ccc;
}

#profile_data a:hover {
	color: #fff;
}

#menu {
	margin-top: 30px;
	float: right;
}

#menu .menu_item {
	margin-top: 10px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	background: #3f73c0;
	text-align: right;
	padding-right: 10px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	color: #fff;
	font-size: 14px;
}

#menu .menu_item a {
	color: #fff;
}

.active {
	background: #fff !important;
}

.active a {
	color: #000000 !important;
}

#head_bg {
	background: url('../images/head_bg.gif') repeat-x;
	height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#head_txt {
	font-weight: bold;
	line-height: 40px;
	margin-left: 20px;
	font-size: 15px;
	float: left;
}

#naslov {
	float: left;
	margin-left: 35px;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#item {
	width: 95%;
	clear: both;
	padding-left: 20px;
	height: 40px;
	background: #f3f3f3;
	margin-top: 10px;
	margin-left: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

#line {
	height: 1px;
	background: #ccc;
	width: 100%;
	clear: both;
}

#item a {
	color: #888888;
	line-height: 40px;
	font-size: 13px;
}

#add_btn {
	float: right;
	line-height: 40px;
	margin-right: 10px;
}

#lista {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 15px;
}

#sadrzaj_block {
	margin-top: 75px;
}

.obrisi {
	background: url('../images/cancel.png') no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-top: 13px;
	margin-right: 10px;
}

.uredi {
	background: url('../images/edit.png') no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	margin-top: 13px;
	margin-right: 10px;
}

}


.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	padding: 10px;
	width: 350px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
        
	width: 100%;
        
}
.uploadifyProgressBar {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 	
	height: 16px;
	width: 8px;
}

fieldset {
	padding: 10px !important;
}

#firma_img {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	position: relative;
}

#map-canvas {
	height: 280px;
}

.autor {
	float: right;
	margin-right: 70px;
	line-height: 40px;
}

.isteklo {
	background: #FFE3E6 !important;
}

.raz {
	margin-right: 91px;
}

.error {
	background: #fff;
	opacity: 0.8;
	height: 30px;
	padding: 0 5px 0 5px;
	margin-bottom: 20px;
	line-height: 29px;
	font-size: 16px;
	border-radius: 3px;
	clear: both;
	color: #f00;
}

.mce-tinymce {
	float: left !important;
}

.obr_sl {
	position: absolute;
	right: -20px;
	top: -20px;
}

#lista li {
	list-style: none;
}

.alert {
	position: absolute;
	width: 75%;
	top: 20px;
	left: 255px;
}

.multifile_preview {
	width: 315px;
}

.dodaj_jos {
	color: #08c;
	cursor: pointer;
}