body {
	background: url('../images/bg-login.gif') repeat;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

#login_form {
	width: 350px;
	margin: 200px auto 0;
}

h1{
	margin-top: 0;
	text-align:center;
	margin-bottom: 20px;
}

input[type=text], input[type=password] {
	display:block;
	float: right;
	width: 220px;
	height: 25px;
	border: 0;
	border-radius:3px;
	background: #efefef;
	outline: none;
	margin-bottom: 15px;
	padding: 0 5px 0 5px;
	
}

input[type=submit]{
	border: none;
	width: 60px;
	height: 23px;
	font-size: 12px;
	border-radius: 3px;
	background: #3E7000;
	float: right;
	clear: both;
	color: #ffffff;
}

input[type=submit]:hover{
	
	background:#64B500;
	cursor: pointer;
}

label {
	clear: both;
	float: left;
}

.notif {
	background: #000000;
	opacity: 0.8;
	height: 30px;
	padding: 0 5px 0 5px;
	margin-bottom: 20px;
	line-height: 29px;
	font-size: 13px;
	border-radius: 3px;
}

.notif_ico {
	background: url('../images/notif.png') no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 7px;
	margin-right: 5px;
}

.error {
	background: #000000;
	opacity: 0.8;
	height: 30px;
	padding: 0 5px 0 5px;
	margin-bottom: 20px;
	line-height: 29px;
	font-size: 13px;
	border-radius: 3px;
	clear: both;
}
